.PostList__wrapper {
  height: 100vh;
  display: flex;
  margin: 0 24px;
  column-gap: 16px;
}

.PostList__container {
  flex: 3;
  /* max-height: 100vh; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.PostList__input-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
  column-gap: 8px;
  border-bottom: 1px solid #d9d9d9;
}

.PostList__search-input {
  width: 100%;
  max-width: 700px;
  padding: 12px;
  border-radius: 8px;
}

.PostList__list-container {
  list-style-type: none;
  padding-inline-start: 0px;
  overflow: auto;
}

.PostList__list-empty {
  display: flex;
  justify-content: center;
}

.PostList__comments-wrapper {
  flex: 2;
  max-height: 100vh;
  overflow: hidden;
}

.PostList__load-more-wrapper {
  padding: 12px 0px;
  border-top: 1px solid #d9d9d9;
}

@media (max-width: 768px) {
  .PostList__comments-wrapper {
    display: none;
  }
}

.PostList__Modal-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}
