.Modal__wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: white;
  flex-direction: column;
  box-sizing: border-box;
}
