.CommentList__wrapper {
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* margin-left: 16px; */

  li:last-child {
    div {
      border-bottom: none;
    }
  }
}

.CommentList__container {
  flex: 1;
  margin-left: 8px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.CommentList__item-container {
  margin-bottom: 1rem;
  padding: 16px;
  border-bottom: 1px solid #d9d9d9;
}

.CommentList__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 1rem);
}

.CommentList__name {
  text-align: left;
}
.CommentList__email {
  text-align: left;
  font-weight: bold;
  color: grey;
}

.CommentList__body {
  font-size: 14px;
  color: gray;
  text-align: justify;
}
